<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brgyplus">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/SplashScreenTheme">
        <activity android:name=".admin.AdminSettings"></activity>
        <activity android:name=".admin.Request" />
        <activity android:name=".admin.AdminHome" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register" />
        <activity android:name=".user.Home" />
        <activity android:name=".user.Notification" />
        <activity android:name=".user.Settings" />
        <activity android:name=".user.ContactUs" />
    </application>

</manifest>